@media screen and (min-width: 750px) {
	.modal {
	  text-align: center;
	  padding: 0 !important;
	}

	.modal-dialog {
	  display: inline-block;
	  vertical-align: middle;
      width: 100%;
      margin: 0 0;
	}
    
   .modal-content {
    padding: 0px 0px 0px 0px;
  }

	.model-body {
	  overflow-y: scroll !important;
	  overflow-x: hidden !important;
	}
}

.modal-body {
    padding: 0px !important;
}

body{padding:0 !important}

.modal-dialog {
	text-align: left;
}

.modal-title {
	text-align: center;
}

body.modal-open .elementor-widget-wrap {
	z-index: auto;
}

.lm-popup {
	cursor: pointer;
}

.modal.fade.in {
	background: rgba(0,0,0,0.6);
}